<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card mt-4 card-default">
			<div class="card-header">
                <button id="btn" routerLink="studentLogin">STUDENT</button>
                <button id="btn" routerLink="lecturerLogin">LECTURER</button>
                <button id="btn" routerLink="adminLogin">ADMIN</button>
			</div>
			<div class="card-body">
                <router-outlet></router-outlet>
			
			</div>
		</div>
	</div>
</div>
</body>