
<div class="about-section">
    <h1>About Us Page</h1>
    <p><i>Student Management System is software which is helpful for students as well as the school authorities. In the current system all the activities are done manually. It is very time consuming and costly. Our Student Management System deals with the various activities related to the students.</i>	 </p>
  </div>
  
  <h2 style="text-align:center" class="text-dark">DEVELOPED BY</h2>
  <hr>
  <div class="row">
      <div class="card">
        <br>
        <img src="./assets/about.jpeg" alt=" " class="avatar" style="margin-left: auto;
        margin-right: auto; width:300px ; height: 300px; border-radius: 50%; border:thick solid black;" >
               <div class="container">
                 <br>
                 <hr>
          <h2>GOPIDI SHIVAREDDY</h2>
          <p class="title">Art Director</p>
          <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
          <p>shivareddy@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>