<div class="container-fluid" id="x">
    
    <div class="row">
    <div class="col-sm-3" id="y">
        
                <p class="text-light display-4">STUDENT DASH BOARD</p>
                 <div style="margin-top:50px;">
                 <a routerLink="studentProfile"><h4 class="text-center text-success">STUDENT PROFILE</h4></a>
                 </div>  
                 <div style="margin-top:50px;">
                    <a routerLink="studentFee"><h4 class="text-center text-success">STUDENT FEE</h4></a>
                    </div>  
                </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
  </div>
  </div>

