#x{
    background-image: url("/assets/sbg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  
}
#y{
    background-color: black;
}
a:link, a:visited {
  text-decoration: none;
}