<div class="container-fluid" id="x">
    
    <div class="row">
    <div class="col-sm-3" id="y">
        
                <p class="text-light display-4">LECTURER DASH BOARD</p>
                 <div style="margin-top:50px;">
                 <a routerLink="lecturerProfile"><h4 class="text-center text-success">LECTURER PROFILE</h4></a>
                 </div>  
            
            
                 <div style="margin-top:50px;">
                 <a routerLink="studentDetails"><h4 class="text-center text-success">STUDENT DETAILS</h4></a>
                 </div>      
        
                 <div style="margin-top: 50px;">
                 <a routerLink="attendance"><h4 class="text-center text-success">ATTENDANCE</h4></a>
                 </div>      
  <!-- <div class="col-sm-8" style="background-color:white;"></div> -->
  </div>
  
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
  </div>
  </div>